@import "navbar.css";
@import "scroll.css";
@import "footer.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Special+Elite&display=swap&display=swap");

:root {
  /* 背景色 */
  --primary-color: #98a9be;
  --secondary-color: #ffe153;
  --third-color: whitesmoke;
  /* 文字顏色 */
  --font-color: white;
  --font-color-2: lightgray;
  /* 字體 */
  --chinese-font: "Noto Sans TC", sans-serif;
  --eng-font: "Special Elite", cursive;
}

body {
  margin: 0;
  background: white;
  font-family: var(--eng-font);
  cursor: url("https://img.icons8.com/material-rounded/24/000000/cursor.png"),
    pointer;
}

/* 中間空白區 */
.container {
  width: 70%;
  margin: 60px auto;
}

/* 主題 */
.topic {
  margin: 0;
  padding: 10px 20px;
}

/* 內文區 */
.content {
  background: var(--third-color);
  border: 1px dashed lightgray;
  padding: 30px 50px;
}
/* 內文區塊 */
.block {
  font-family: var(--chinese-font);
  margin: 1.5rem;
}
.title {
  background: var(--secondary-color);
  display: inline-block;
  opacity: 0.9;
  margin: 0.5rem;
}
.block > ul,
dl,
ol {
  margin: 0.5rem 0;
}
.button {
  padding: 5px;
}
.table {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.table li:nth-child(odd) {
  width: 25%;
  list-style: none;
  padding: 5px;
}
.table li:nth-child(even) {
  width: 70%;
  list-style: none;
  padding: 5px;
}

/* 履歷 */
.resume {
  font-family: var(--chinese-font);
}

/* works */
.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--chinese-font);
  align-items: center;
}
.display-left {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.display-left .table {
  padding: 0;
}
.display-left .table li:nth-child(odd) {
  width: 30%;
  border: 1px dashed var(--primary-color);
}
.display-left .table li:nth-child(even) {
  width: 60%;
  border: 1px dashed var(--primary-color);
}
.display-right {
  height: 100%;
  margin-left: 15px;
  margin-top: 30px;
}
.display-right ul {
  list-style: none;
  padding: 0;
}
.display-right img {
  height: 620px;
  border: 1px solid var(--third-color);
}
.display-right img:hover {
  transition: transform 0.2s ease-in-out;
}
#list-ul li {
  border: none;
  list-style-type: disc;
  width: 95%;
}
#list-ol li {
  border: none;
  list-style-type: decimal;
  width: 95%;
}

/* Free Icon */
/* https://icons8.com/icons */
/* https://www.twicon.page/icons.html */
